
@{
    ViewBag.Title = "Alcogoli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>


    <div class="container">
        <div class="menu">
            <h1 class="raz">Drinks</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image"
                         src="~/Content/Images/alcogoli/novyj-sajt_koktejl_arbuz-ogurec_redbull.png"
                         alt="limonad_arbuz"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Лимонад</span>
                            <span class="menu-item-price">$2.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ЛИМОНАД НА ОСНОВЕ RED BULL АРБУЗ-ОГУРЕЦ 470 МЛ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/novyj-sajt_koktejl_tropika_redbull.png"
                         alt="limonad_tropica"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Лимонад</span>
                            <span class="menu-item-price">$3.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ЛИМОНАД НА ОСНОВЕ RED BULL ТРОПИКА 470 МЛ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/alcogoli/laguna_redbull.png"
                         alt="laguna_redbull"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Лимонад</span>
                            <span class="menu-item-price">$3.24</span>
                        </h3>
                        <p class="menu-item-description">
                            ЛИМОНАД НА ОСНОВЕ RED BULL ЛАГУНА 470 МЛ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>
                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/limonad-ananasovyi.png"
                         alt="limonad_ananas"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Лимонад</span>
                            <span class="menu-item-price">$1.44</span>
                        </h3>
                        <p class="menu-item-description">
                            ЛИМОНАД АНАНАС 480 МЛ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/limonad-klubnichnyi.png"
                         alt="limonad_klubnika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Лимонад</span>
                            <span class="menu-item-price">$1.84</span>
                        </h3>
                        <p class="menu-item-description">
                            ЛИМОНАД КЛУБНИКА 480 МЛ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/bonakva-gaz.png"
                         alt="voda"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Вода</span>
                            <span class="menu-item-price">$0.84</span>
                        </h3>
                        <p class="menu-item-description">
                            BONAQUA С ГАЗОМ/БЕЗ ГАЗА 0,5
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/rich-bitter-limon.png"
                         alt="rich"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Вода RICH</span>
                            <span class="menu-item-price">$0.84</span>
                        </h3>
                        <p class="menu-item-description">
                            RICH BITTER ЛЕМОН/ГРАНАТ 0,33
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/alcogoli/rich-ti-mango.png"
                         alt="TEA_rich"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name"> Чай RICH</span>
                            <span class="menu-item-price">$0.14</span>
                        </h3>
                        <p class="menu-item-description">
                            RICH TEA МАНГО/ЛИМОН 0,5
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>











            </div>



        </div>

    </div>

    </div>


</sectoin>
