
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<sectoin>


    <div class="container">
        <div class="menu">
            <h1 class="raz">Вurgers</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/klassika.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Сlassic</span>
                            <span class="menu-item-price">$12.34</span>
                        </h3>
                        <p class="menu-item-description">
                            Классика, которая придется по вкусу каждому. Фирменный бургер с домашней булочкой,
                            сочной котлетой из мраморной говядины Блэк Ангус с ломтиками сыра чеддер, которые идеально
                            дополняют свежие листьями салата, помидоры, маринованные огурчики и красный лук.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/gribnoi.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Грибной</span>
                            <span class="menu-item-price">$14.34</span>
                        </h3>
                        <p class="menu-item-description">
                            Ароматный бургер с фирменной черной булочкой, жареными грибами с луком в соусе демиглас,
                            сочной котлетой из мраморной говядины Блэк Ангус, свежими листьями салата и помидорами,
                            маринованными огурцами и свежим красным луком, заправляется фирменным соусом с трюфельным маслом.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/slou.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Слоу</span>
                            <span class="menu-item-price">$11.44</span>
                        </h3>
                        <p class="menu-item-description">
                            Сытный бургер с домашней булочкой бриошь, сочной котлетой из мраморной говядины Блэк Ангус,
                            свежим салатом коул слоу, с тянущимся сыром Чеддер, маринованными огурцами,
                            свежим красным луком и пикантным «техасским» соусом с насыщенным ароматом копчения.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/gavaiskii.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Гавайский</span>
                            <span class="menu-item-price">$17.84</span>
                        </h3>
                        <p class="menu-item-description">
                            Вспомни яркий отпуск или солнечное лето вместе с Гавайским бургером! Свежая булочка,
                            котлета из мраморной говядины Блэк Ангус, уникальное сочетание обжаренного на гриле сладкого ананаса,
                            фирменного соуса гавая, маринованных огурчиков,
                            красного лука, листьев салата и сыра моцарелла – очень вкусно.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/burgeri/barbekju.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">BBQ</span>
                            <span class="menu-item-price">$16.24</span>
                        </h3>
                        <p class="menu-item-description">
                            Такого вкусного BBQ вы еще не пробовали! Бургер с домашней булочкой,
                            сочной котлетой из мраморной говядины Блэк Ангус, тянущимся сыром Чеддер,
                            жареным луком, маринованными огурчиками и свежим салатом айсберг.
                            Пикантность вкусу придает гармоничное сочетание соусов кетчуп-барбекю и 1000 островов.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/italjanskii.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Итальянский</span>
                            <span class="menu-item-price">$12.89</span>
                        </h3>
                        <p class="menu-item-description">
                            Насладитесь изысканным и сбалансированным вкусом нашего итальянского бургера.
                            С домашней булочкой, сочной котлетой из мраморной говядины Блэк Ангус, салатом айсберг,
                            заправленным соусом цезарь. Яркости вкусу добавляют свежая моцарелла,
                            помидоры и фирменный соус с трюфельным маслом.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/samyi-vkusnyi.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Самый вкусный бургер</span>
                            <span class="menu-item-price">$13.84</span>
                        </h3>
                        <p class="menu-item-description">
                            Самый вкусный бургер! И это не шутка. Булочка бриошь, сочная котлета из мраморной говядины Блэк Ангус,
                            свежие помидоры, листья салата, маринованные огурчики, красный лук, сыры Чеддер и Моцарелла,
                            заправка крем-соусом унаги и крем-соусом барбекю – идеальное сочетание в одном бургере.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/burgeri/sait-spaisi-burger.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">SPICY</span>
                            <span class="menu-item-price">$11.81</span>
                        </h3>
                        <p class="menu-item-description">
                            Пикантная новинка! Домашняя булочка, сочная котлета из мраморной говядины Блэк Ангус,
                            обжаренная с сыром чеддер, свежий салат, гавайский соус, ломтики помидора,
                            маринованные огурчики и незабываемое сочетание острого соуса и джема из черной смородины
                            – настоящее гастрономическое удовольствие.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/burgeri/vip.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">VIP</span>
                            <span class="menu-item-price">$16.36</span>
                        </h3>
                        <p class="menu-item-description">
                            Эксклюзивный бургер с фирменной черной булочкой,
                            сочной котлетой из мраморной говядины Блэк Ангус, грибами,
                            деликатесным сыром фета и сыром чеддер, свежими помидорами,
                            листьями салата, кольцами красного лука и маринованными огурчиками.
                            Особый вкус и сочность бургеру придает карамелизированная груша в сочетании с джемом из черной смородины.
                            Заправляется фирменным соусом с трюфельным маслом.
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>



            </div>

        </div>

    </div>


</sectoin>

