
@{
    ViewBag.Title = "Deserti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Desserts</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/dejun29-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">СЫРНИКИ С ТОППИНГАМИ</span>
                            <span class="menu-item-price">$12.50</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_20-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">РАЗБИТАЯ ШОКОЛАДНАЯ ВАЗА</span>
                            <span class="menu-item-price">$10.50</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/maroc_2-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">АПЕЛЬСИНОВЫЙ ПИРОГ С МИНДАЛЕМ</span>
                            <span class="menu-item-price">$9.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_24-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">PARIS — BREST</span>
                            <span class="menu-item-price">$10.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_16-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ЛИМОННЫЙ ТАРТ ПО КЛАССИЧЕСКОМУ СИЦИЛИЙСКОМУ РЕЦЕПТУ</span>
                            <span class="menu-item-price">$12.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>

                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_21-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ЧИЗКЕЙК НЬЮ-ЙОРК С КАРАМЕЛЬЮ</span>
                            <span class="menu-item-price">$12.50</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ТИРАМИСУ ПО ПРАВИЛЬНОМУ КЛАССИЧЕСКОМУ РЕЦЕПТУ</span>
                            <span class="menu-item-price">$12.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>



                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_13-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ФРУКТОВЫЙ САЛАТ С ВАНИЛЬНЫМ СЛИВОЧНЫМ ЙОГУРТОМ</span>
                            <span class="menu-item-price">$10.50</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>















            </div>

        </div>

    </div>















</sectoin>

