
@{
    ViewBag.Title = "Pasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>


    <div class="container">
        <div class="menu">
            <h1 class="raz">Pasta</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta18.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">  Баветтине</span>
                            <span class="menu-item-price">$11.35</span>
                        </h3>
                        <p class="menu-item-description">
                            БАВЕТТИНE С ЛОСОСЕМ, ПОМИДОРАМИ ЧЕРРИ И СЛИВОЧНЫМ СОУСОМ ИЗ ВЗБИТЫХ СЛИВОК
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta15-300x300.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Тальятелле</span>
                            <span class="menu-item-price">$19.38</span>
                        </h3>
                        <p class="menu-item-description">
                            ТАЛЬЯТЕЛЛЕ С КРЕВЕТКАМИ И МИДИЯМИ В СЛИВОЧНО-ТРЮФЕЛЬНОМ СОУСЕ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta17-300x300.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Тальятелле с индейкой </span>
                            <span class="menu-item-price">$16.84</span>
                        </h3>
                        <p class="menu-item-description">
                            ТАЛЬЯТЕЛЛЕ С ФИЛЕ ИНДЕЙКИ В СЛИВОЧНОМ СОУСЕ И АРОМАТНЫМ БЕЛЫМ ВИНО
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta13-300x300.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Спагетти Карбонара</span>
                            <span class="menu-item-price">$19.53</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta-300x300.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Равиоли с курицей </span>
                            <span class="menu-item-price">$16.24</span>
                        </h3>
                        <p class="menu-item-description">
                            РАВИОЛИ С НЕЖНОЙ КУРОЧКОЙ В СЛИВОЧНОМ СОУСЕ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta/pasta16-300x300.png" alt="pasta"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Равиоли с грибами</span>
                            <span class="menu-item-price">$15.79</span>
                        </h3>
                        <p class="menu-item-description">
                            РАВИОЛИ СО ШПИНАТОМ И РИККОТОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>








            </div>



        </div>

    </div>

    </div>


</sectoin>

