
@{
    ViewBag.Title = "Pizza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Pizza</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_6-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">VEGETARIANA</span>
                            <span class="menu-item-price">$14.00</span>
                        </h3>
                        <p class="menu-item-description">
                            VEGETARIANA С ЗАПЕЧЕННЫМИ ОВОЩАМИ И ДОМАШНИЙ ВЕГАНСКИЙ СЫР
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_7-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name"> AMERICANA</span>
                            <span class="menu-item-price">$15.50</span>
                        </h3>
                        <p class="menu-item-description">
                            AMERICANA С КУРИЦЕЙ, ВЕТЧИНОЙ, МАСЛИНАМИ И ГРИБАМИ С ТОМАТНЫМ СОУСОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/2022_24-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">САЛЯМИ</span>
                            <span class="menu-item-price">$16.00</span>
                        </h3>
                        <p class="menu-item-description">
                            ПИЦЦА САЛЯМИ С ЖАРЕНЫМ СЛАДКИМ ПЕРЦЕМ И ИТАЛЬЯНСКИМ ТОМАТНЫМ СОУСОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_41-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">СЛИВОЧНАЯ</span>
                            <span class="menu-item-price">$15.50</span>
                        </h3>
                        <p class="menu-item-description">
                            ПИЦЦА СЛИВОЧНАЯ БРОККОЛИ С САЛЯМИ, ИТАЛЬЯНСКИМ ТОМАТНЫМ СОУСОМ И МОЦАРЕЛЛОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_47-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">REGINA</span>
                            <span class="menu-item-price">$14.50</span>
                        </h3>
                        <p class="menu-item-description">
                            ПИЦЦА REGINA СО СВЕЖИМИ ШАМПИНЬОНАМИ И ВЕТЧИНОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>

                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">QUATRO FORMAGGI</span>
                            <span class="menu-item-price">$15.50</span>
                        </h3>
                        <p class="menu-item-description">
                            QUATRO FORMAGGI С ЧЕТЫРЬМЯ СОРТАМИ СЫРА
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_4-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">PEPPERONI</span>
                            <span class="menu-item-price">$16.00</span>
                        </h3>
                        <p class="menu-item-description">
                            PEPPERONI С ОСТРЫМ САЛЯМИ SALSICCIA
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>



                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_49-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">МАРГАРИТА</span>
                            <span class="menu-item-price">$13.00</span>
                        </h3>
                        <p class="menu-item-description">
                            МАРГАРИТА С МОЦАРЕЛЛОЙ И ИТАЛЬЯНСКИМ СОУСОМ ИЗ ПОМИДОРОВ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_11-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">PARDUPIZZA</span>
                            <span class="menu-item-price">$14.50</span>
                        </h3>
                        <p class="menu-item-description">
                            PARDUPIZZA С ВЯЛЕНЫМИ ТОМАТАМИ, СОУСОМ ПЕСТО, КУРИНЫМ ФИЛЕ И СЛАДКИМ ПЕРЦЕМ И СЫРОМ МОЦАРЕЛЛА
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_44-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ГРУША</span>
                            <span class="menu-item-price">$17.00</span>
                        </h3>
                        <p class="menu-item-description">
                            ПИЦЦА С ГРУШЕЙ И СЫРАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>
</sectoin>

