
@{
    ViewBag.Title = "Rolli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Sushi roll</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Philadelphia-roll-600x600.png" alt="klassika">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Philadelphia Roll</span>
                            <span class="menu-item-price">$17.00</span>
                        </h3>
                        <p class="menu-item-description">
                            Лосось, сливочный сыр, огурец, авокадо, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Philadelphia-double-roll-600x600.png"
                         alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Philadelphia Double Roll</span>
                            <span class="menu-item-price">$20.00</span>
                        </h3>
                        <p class="menu-item-description">
                            Лосось, сливочный сыр, огурец, авокадо, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Canada-roll-600x600.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Canada Roll</span>
                            <span class="menu-item-price">$16.50</span>
                        </h3>
                        <p class="menu-item-description">
                            Угорь, лосось, сливочный сыр, авокадо, рис, унаги соус
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Kani-unagi-roll-600x600.png" alt="klassika">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Kani Unagi Roll</span>
                            <span class="menu-item-price">$17.84</span>
                        </h3>
                        <p class="menu-item-description">
                            Угорь, крабовая смесь, огурец, сливочный сыр, авокадо, рис, манго соус, унаги соус
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/California-cheese-roll-600x600.png"
                         alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">California Cheese Roll</span>
                            <span class="menu-item-price">$16.24</span>
                        </h3>
                        <p class="menu-item-description">
                            Лосось, икра тобико, сливочный сыр, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>

                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Ika-tuna-roll-600x600.png" alt="klassika">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Ika Tuna Roll</span>
                            <span class="menu-item-price">$15.00</span>
                        </h3>
                        <p class="menu-item-description">
                            Кальмар, креветка, тунец, огурец, сливочный сыр, рис, соус спайси
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Tempura-Tuna-spicy-Roll-600x600.png"
                         alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Tempura Tuna Spicy Roll</span>
                            <span class="menu-item-price">$14.80</span>
                        </h3>
                        <p class="menu-item-description">
                            Лосось темпура, тунец, огурец, сливочный сыр, рис, унаги соус, спайси соус
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>



                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Black-roll-600x600.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Black Roll</span>
                            <span class="menu-item-price">$18.40</span>
                        </h3>
                        <p class="menu-item-description">
                            Лосось, красная икра, чернила каракатицы, сливочный сыр, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Mix-roll-600x600.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Mix Roll</span>
                            <span class="menu-item-price">$19.00</span>
                        </h3>
                        <p class="menu-item-description">
                            Угорь, тунец, лосось, сливочный сыр, авокадо, манго соус, унаги соус, кунжут, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/Yummy-roll-1-600x600.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Yummy Roll</span>
                            <span class="menu-item-price">$16.50</span>
                        </h3>
                        <p class="menu-item-description">
                            Креветка темпура, крабовая смесь, огурец,
                            сливочный сыр, авокадо, дайкон, икра тобико,
                            японский майонез, унаги соус, рис
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>














            </div>

        </div>

    </div>















</sectoin>

