
@{
    ViewBag.Title = "Salat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Salads</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ТЕПЛЫЙ</span>
                            <span class="menu-item-price">$13.50</span>
                        </h3>
                        <p class="menu-item-description">
                            ТЕПЛЫЙ САЛАТ С КУРИНЫМ МЯСОМ И ОВОЩАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_11-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ГРЕЧЕСКИЙ САЛАТ</span>
                            <span class="menu-item-price">$15.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_4-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ЦЕЗАРЬ С КУРИЦЕЙ</span>
                            <span class="menu-item-price">$12.44</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/maroc_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">МАРОККАНСКИЙ</span>
                            <span class="menu-item-price">$15.00</span>
                        </h3>
                        <p class="menu-item-description">
                            МАРОККАНСКИЙ САЛАТ С КУСКУСОМ И RAS EL HANOUT
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_3-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">САЛАТ ЦЕЗАРЬ С КРЕВЕТКАМИ</span>
                            <span class="menu-item-price">$16.00</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>

                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_8-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">БАКЛАЖАНОВЫЙ</span>
                            <span class="menu-item-price">$12.30</span>
                        </h3>
                        <p class="menu-item-description">
                            ЗАПЕЧЕННЫЙ БАКЛАЖАН С КРЕМОМ ИЗ СЫРА БУКО И ФЕТА,
                            ПРИПРАВЛЕННЫЙ КЕДРОВЫМИ ОРЕШКАМИ , СОУСОМ ПЕСТО И РУККОЛОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/salat_10-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">С ТУНЦОМ</span>
                            <span class="menu-item-price">$13.80</span>
                        </h3>
                        <p class="menu-item-description">
                            САЛАТ С ТУНЦОМ, МИКСОМ САЛАТА, ПОМИДОРКАМИ ЧЕРРИ И КАПЕРСАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>






                </div>

            </div>

            <div class=" menu-item">

                <img class="menu-item-image" src="~/Content/Images/salat_17-300x300.png" alt="klassika"> </img>

                <div class="menu-item-text">

                    <h3 class="menu-item-heading">

                        <span class="menu-item-name">МИКС</span>
                        <span class="menu-item-price">$16.24</span>
                    </h3>
                    <p class="menu-item-description">
                        МИКС САЛАТОВ С БРОККОЛИ И УТИНОЙ ГРУДКОЙ SOUS VIDE
                    </p>

                    <a href="#" class="button10">Заказать</a>


                </div>








            </div>











        </div>















    </div>

    </div>

    </div>















</sectoin>
