
@{
    ViewBag.Title = "Supi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Soups</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe_9-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ЧЕЧЕВИЧНЫЙ</span>
                            <span class="menu-item-price">$9.34</span>
                        </h3>
                        <p class="menu-item-description">
                            СУП ИЗ ЧЕЧЕВИЦЫ С МОРКОВЬЮ, СВЕЖИМИ ПОМИДОРАМИ И СЛАДКИМ ПЕРЦЕМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe_6-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">МИНИСТРОНИ</span>
                            <span class="menu-item-price">$10.34</span>
                        </h3>
                        <p class="menu-item-description">
                            МИНИСТРОНИ ИЗ СВЕЖИХ ОВОЩЕЙ И БРЮСЕЛЬСКОЙ КАПУСТЫ.ПОДАЕТСЯ С ПАСТОЙ ОРЗО И ЧИАБОТОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">СВЕКОЛЬНЫЙ</span>
                            <span class="menu-item-price">$6.44</span>
                        </h3>
                        <p class="menu-item-description">
                            СВЕКОЛЬНЫЙ СУП С ТЕЛЯТИНОЙ И ФАСОЛЬЮ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe_3-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">КУРИНЫЙ</span>
                            <span class="menu-item-price">$7.00</span>
                        </h3>
                        <p class="menu-item-description">
                            СУП С КУРИЦЕЙ И ДОМАШНЕЙ ЛАПШОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">КУКУРУЗНЫЙ</span>
                            <span class="menu-item-price">$10.24</span>
                        </h3>
                        <p class="menu-item-description">
                            СУП ИЗ КУКУРУЗЫ СО СЛИВКАМИ И СЫРОМ ТОФУ,
                            ПРИПРАВЛЕННЫЙ КУРКУМОЙ,ТМИНОМ И КАРДАМОНОМ.
                            ПРИГОТОВЛЕН НА НЕЖНОМ ТОПЛЕННОМ МАСЛЕ ГХИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
















            </div>















        </div>

    </div>

    </div>















</sectoin>
