
@{
    ViewBag.Title = "Vegan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>

    <div class="container">
        <div class="menu">
            <h1 class="raz">Vegetarian</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/desert_23-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">RAW</span>
                            <span class="menu-item-price">$6.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ПИРОЖНОЕ RAW С НАТУРАЛЬНЫМ КОКОСОВЫМ МАСЛОМ, КЕШЬЮ, ИНЖИРОМ И ТЕМНЫМ ШОКОЛАДОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>




                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/vegan_6-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ГРЕЧЕСКИЙ БАКЛАЖАН</span>
                            <span class="menu-item-price">$11.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ГРЕЧЕСКИЙ БАКЛАЖАН С ХУМУСОМ, СЫРОМ, ЗАПЕЧЕННЫМ ПЕРЦЕМ И СУМАХОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pasta_4-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ТАЛЬЯТЕЛЛЕ</span>
                            <span class="menu-item-price">$13.50</span>
                        </h3>
                        <p class="menu-item-description">
                            ШПИНАТНЫЕ ТАЛЬЯТЕЛЛЕ С СОЧНЫМИ ОВОЩАМИ В ИТАЛЬЯНСКОМ ТОМАТНОМ СОУСЕ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/supe_6-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">МИНИСТРОНИ</span>
                            <span class="menu-item-price">$14.84</span>
                        </h3>
                        <p class="menu-item-description">
                            МИНИСТРОНИ ИЗ СВЕЖИХ ОВОЩЕЙ И БРЮСЕЛЬСКОЙ КАПУСТЫ.ПОДАЕТСЯ С ПАСТОЙ ОРЗО И ЧИАБОТОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/vegan_5-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ТАЖИН</span>
                            <span class="menu-item-price">$16.24</span>
                        </h3>
                        <p class="menu-item-description">
                            МАРОККАНСКИЙ ТАЖИН C КУСКУСОМ РОЙАЛ, ОВОЩАМИ CОТЕ, НАГУТОМ И ЧЕРНОСЛИВОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>

                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/pizza_45-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ИТАЛЬЯНСКАЯ ФОКАЧЧА</span>
                            <span class="menu-item-price">$7.89</span>
                        </h3>
                        <p class="menu-item-description">
                            ИТАЛЬЯНСКАЯ ФОКАЧЧА С ПОМИДОРАМИ И РУКОЛОЙ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/antipasti_3-300x300.png" alt="klassika"> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">ФОКАЧЧА</span>
                            <span class="menu-item-price">$5.84</span>
                        </h3>
                        <p class="menu-item-description">

                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>



                </div>





            </div>

        </div>

    </div>




</sectoin>

