
@{
    ViewBag.Title = "Zakiski";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<sectoin>


    <div class="container">
        <div class="menu">
            <h1 class="raz">Meat and Fish</h1>
            <h2 class="menu-group-heading"> </h2>
            <div class="menu-group">
                <div class=" menu-item">

                    <img class="menu-item-image"
                         src="~/Content/Images/measo-riba/(1)Escolar-cu-sos-tahini-350-gr-300x300.png" alt=""> </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Эсколар</span>
                            <span class="menu-item-price">$12.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ЭСКОЛАР С СОУСОМ ТАХИНИ И КУСКУСОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>
                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(2)maroc_1-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Дорада</span>
                            <span class="menu-item-price">$17.34</span>
                        </h3>
                        <p class="menu-item-description">
                            ДОРАДА С СОУСОМ CHERMOULA И КУС-КУСОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(3)maroc_3-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Таджин</span>
                            <span class="menu-item-price">$11.44</span>
                        </h3>
                        <p class="menu-item-description">
                            ТАДЖИН С ЦЫПЛЕНКОМ И КУС-КУСОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(4)carne_37-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Фрикасе</span>
                            <span class="menu-item-price">$20.00</span>
                        </h3>
                        <p class="menu-item-description">
                            ФРИКАСЕ ИЗ КУРИЦЫ И ГРИБОВ С РИСОМ И САЛАТОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/measo-riba/(5)carne_35-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Филе Индейки</span>
                            <span class="menu-item-price">$16.24</span>
                        </h3>
                        <p class="menu-item-description">
                            ФИЛЕ ИНДЕЙКИ SOUS VIDE С ЗАПЕЧЕННЫМИ БАКЛАЖАНАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>

                    </div>

                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(6)carne_32-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Конфи</span>
                            <span class="menu-item-price">$12.89</span>
                        </h3>
                        <p class="menu-item-description">
                            КОНФИ ИЗ УТКИ С СОЧНЫМИ ОВОЩАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(7)carne_33-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Стэйк из Семги</span>
                            <span class="menu-item-price">$13.74</span>
                        </h3>
                        <p class="menu-item-description">
                            СТЭЙК ИЗ СЕМГИ С МОРКОВНЫМ МУССОМ И ОВОЩАМИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/measo-riba/(8)2022_2-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">STEAK</span>
                            <span class="menu-item-price">$11.81</span>
                        </h3>
                        <p class="menu-item-description">
                            JUICY STEAK С ПОМИДОРКАМИ ЧЕРРИ И МИКС САЛАТОМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(9)carne_34-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Свиная шея SOUS VIDE </span>
                            <span class="menu-item-price">$16.36</span>
                        </h3>
                        <p class="menu-item-description">
                            СВИНАЯ ШЕЯ SOUS VIDE С ЗАПЕЧЕННЫМ БАКЛАЖАНОМ И ПЕЧЕНЫМ КАРТОФЕЛЕМ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image_1" src="~/Content/Images/measo-riba/(10)2022_23-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">Греческий SOUVLAKI с свининой </span>
                            <span class="menu-item-price">$19.81</span>
                        </h3>
                        <p class="menu-item-description">
                            ГРЕЧЕСКИЙ SOUVLAKI С СВИНИНОЙ, ПЕЧЕНЫМ КАРТОФЕЛЕМ И СОУСОМ ДЗАДЗИКИ
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>


                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(11)2022_15-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name"> Куриные крылышки </span>
                            <span class="menu-item-price">$19.36</span>
                        </h3>
                        <p class="menu-item-description">
                            КУРИНЫЕ КРЫЛЫШКИ С ЗАПЕЧЕННЫМ КАРТОФЕЛЕМ И СОУСОМ АМАТРИЧАНА
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>








                </div>
                <div class=" menu-item">

                    <img class="menu-item-image" src="~/Content/Images/measo-riba/(12)carne_36-300x300.png" alt="">
                    </img>

                    <div class="menu-item-text">

                        <h3 class="menu-item-heading">

                            <span class="menu-item-name"> Филе-Миньон </span>
                            <span class="menu-item-price">$29.36</span>
                        </h3>
                        <p class="menu-item-description">
                            ФИЛЕ-МИНЬОН С ВОСХИТИТЕЛЬНЫМ СОУСОМ ДЕМИ-ГЛАС И ЗАПЕЧЕННЫМИ БАКЛАЖАНАМИ И СЫРОМ ПАРМЕЗАН
                        </p>

                        <a href="#" class="button10">Заказать</a>


                    </div>

                </div>





            </div>

        </div>

    </div>


</sectoin>

