@model Domain.CartItemsModel
@{
    Layout = "~/Views/Shared/_mLayout.cshtml";
    int i = 1;
    string ss = "star";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title> The world of taste </title>
    <link type="text/css" rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="/Content/css/font-awesome.css">
    <link type="text/css" href="/Content/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="/Content/css/magnific-popup.css" rel="stylesheet" />
    <link type="text/css" href="/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link type="text/css" href="/Content/css/style.css?v=1.0" rel="stylesheet" />
    <link type="text/css" href="/Content/css/media.css?v=1.0" rel="stylesheet" />
    <script>
        function setRating(rating, i) {
            var url = 'star' + i;
            var starDiv = document.getElementById(url);
            var children = starDiv.children;

            // Loop through the children
            for (var i = 0; i < children.length; i++) {
                children[i].classList.remove('active');
            }

            // Loop through the children
            for (var i = 0; i < rating; i++) {
                children[i].classList.add('active');
            }
            event.currentTarget.classList.add('active');
        }

    </script>
    <style>
        .star-rating {
            display: inline-block;
        }

        .star {
            font-family: FontAwesome;
            font-size: 25px;
            padding: 0 1px;
            cursor: pointer;
        }

            .star:before {
                content: '\f005';
                color: #ccc;
            }

            .star.active:before,
            .star:hover:before {
                color: gold;
            }
    </style>
</head>

<body id="mainBox" class="creamBg" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="150">
    <div id="site-head">
        <header id="header" class="header-block" data-top="0" data-scroll="100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-menu">
                        <div class="menuBar scrollbtn">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <div class="logo">
                                            <a class="navbar-brand" href="/Home/">
                                                <img src="~/Content/images/logo.png"
                                                     alt="logo" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            @if (@User.Identity.IsAuthenticated)
                                            {
                                                <li><a href="/Menu">Menu</a></li>
                                                <li><a href="/Cart">Cart</a></li>
                                                <li><a href="/Rezervation">Reservation</a></li>
                                                <li><a href="/Gallery">Gallery</a></li>
                                                <li><a href="/ContactUs">Contact us</a></li>
                                                <li><a href="/SignIn/Logout">Log out</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Menu">Menu</a></li>
                                                <li><a href="/Gallery">Gallery</a></li>
                                                <li><a href="/ContactUs">Contact us</a></li>
                                                <li><a href="/SignIn/Login">Sign in</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div><br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section>
        <div class="container">
            <div class="menu">
                <h2 class="menu-group-heading"> </h2>
                <div class="menu-group">
                    @using (Html.BeginForm("Food", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        foreach (var data in Model.cartItems)
                        {
                            <div class=" menu-item">
                                <img class="customIMG" src="/Content/@data.Item_Image" alt="klassika" />
                                <div class="menu-item-text">
                                    <h3 class="menu-item-heading">
                                        <span class="menu-item-name">@data.Item_Name.</span>
                                        <span class="menu-item-price">$@data.Item_Price</span>
                                    </h3>
                                    <p class="menu-item-description">@data.Item_Desc</p>

                                    @Html.ActionLink("Remove item", "Delete", new { id = data.Item_ID }, new { @class = "" })

                                    <div class="star-rating" id=@(ss+i)>
                                        <span class="star" data-rating="1" onclick="setRating(1,@i)" id="1@i"></span>
                                        <span class="star" data-rating="2" onclick="setRating(2,@i)" id="2@i"></span>
                                        <span class="star" data-rating="3" onclick="setRating(3,@i)" id="3@i"></span>
                                        <span class="star" data-rating="4" onclick="setRating(4,@i)" id="4@i"></span>
                                        <span class="star" data-rating="5" onclick="setRating(5,@i)" id="5@i"></span>
                                        <input type="hidden" name="rating">
                                    </div>
                                    @{
                                        i += 1;
                                    }
                                </div>
                            </div>
                        }

                        <h3 style="color:white"> Total price:@Model.TotalPrice</h3>
                    }
                    <a class="btn btn-primary" href="/Cart/Purchase">"Buy items" </a>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/js/element.js"></script>
    <script type="text/javascript" src="/Content/js/modernizr.js"></script>
    <script type="text/javascript" src="/Content/js/owl.carousel.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="/Content/js/wow.min.js"></script>
    <script type="text/javascript" src="/Content/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/Content/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap-datetimepicker.js"></script>
    <scr
</body>
